<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/friendrec/src/edu/stanford/cs246/friendrec/FriendRec.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.stanford.cs246.friendrec.FriendRec"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="soc-LiveJournal1Adj.txt output"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="friendrec"/>
</launchConfiguration>
